@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --letracourse:"Fira Sans", sans-serif;
    --fuentecurso:"Courier Prime", monospace;
    --colorprimario:#ff0000; /* color principal/ encabezados/ botones */
    --colorprecio:#0f5ca5;
    --colorprimario400:#ff5757;
    --colorsecundario:#FFFFFF; /* fondo,textos sobre fondos oscuros---*/
    --colorteciario:#333333; /* Texto secundario, fondos de secciones  */
    --colorfondo:#F5F5F7;
    --colorcuarternario:#E0E0E0; /* Fondos secundarios, bordes */
    --llamadaaccion:#FF9800;/* Botones, llamadas a la acción */
    --coloropcinal:	#FF4081;/* Enlaces, acentos, elementos destacados */
    --colorquinto:#4CAF50;/* 	Botones de confirmación, acentos, éxito */
    --coloraltenativo:#000; /* textos principales ,elementos graficos */
    --colorboxshadow:#E8E8EA;
    --boxshadowcolor:rgba(0, 0, 0, 0.829);
    --coloraltena:rgba(0,0,0,0.6);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* fin de variables generales */
/* estilos generales */
body{
    background-color: var(--colorfondo);
    font-size: 18px;
    width: 98%;
    margin: auto;
}
.container__curso{
    display: grid;
    gap: 20px;
    width: 98%;margin: 20px;
}
.curso__card {
    background-color: var(--colorsecundario);
    border-radius: 2px;
    border: 1px solid var(--colorteciario);
    box-shadow: -4px 4px  var(--coloraltena);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.curso__card:hover{
    transform: scale(1.01);
    transition: all 0.3s ease-in-out;
    box-shadow: -5px 4px var(--coloraltenativo);
}
.curso__image{
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}
.curso__descripcion{
    font-family: var(--fuentecurso);
    font-weight: 400;
    margin-bottom: 20px;
}
.curso__btn{
    width: 193px;
    display: block;
    background: var(--colorprimario);
    padding: 16px 32px;
    color: var(--colorsecundario);
    border-radius: 15px;
    text-decoration: none;
}


.cursos__title {
    font-size: 1.5rem;
    margin: 15px 0;
}

.curso__descripcion {
    flex-grow: 1;
    margin: 10px 0;
}

.curso__btn {
    background-color: var(--colorprimario);
    color: var(--colorsecundario);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: capitalize;
}

.curso__btn:hover {
    background-color: #0056b3;
}
.section__general{
    width: 95%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 10px auto;
    background-color: var(--colorsecundario);
    border-radius: 10px;
}
.section__curso{
    width: 100%;
}
.section__title{
    margin: 20px;
    font-weight: 700;
    font-family: var(--letracourse);
    font-size: 2.7rem;
}
.section__img{
    width: 100%;
    filter: drop-shadow(2px 2px 20px rgb(255, 0, 0))
}
.section__color{
    font-family: var(--letracourse);
    font-size: 3rem;
    font-weight: 900;
    background: linear-gradient(45deg, #ff0000e5, #aa1919d3, #22212196);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.section__descripcion{
    margin: 20px;
}
.section__boton{
    padding: 10px 20px;
    margin: 20px;
    background:linear-gradient(45deg, var(--colorprimario), var(--boxshadowcolor));
    color: var(--colorsecundario);
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--letracourse);
    text-transform: capitalize;


}
/* Grid para pantallas pequeñas */
@media (max-width: 768px) {
    .container__curso {
        margin: 1%;
        grid-template-columns: 1fr;
    }
    .curso__card{
        width: 100%;
    }
    .section__general{
        width: 100%;
        margin: 20px auto;
        grid-template-columns: 1fr;
    }
}

/* Grid para pantallas medianas */
@media (min-width: 601px) and (max-width: 900px) {
    .container__curso {
        margin: 1%;
        grid-template-columns: 1fr 1fr;
    }
}

/* Grid para pantallas grandes */
@media (min-width: 901px) {
    .container__curso {
        grid-template-columns: 1fr 1fr 1fr;
    }
}